name: football_league_app
description: Football League app (light theme) with Riverpod state management.
publish_to: 'none'
version: 1.0.0
environment:
  sdk: '>=2.18.0 <4.0.0'

dependencies:
  card_swiper: ^3.0.1
  flutter:
    sdk: flutter
  flutter_riverpod: ^2.3.6
  intl: any

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: true
